.center{
    text-align: center;
}


.access-Buttons{
    /* background-color: rgb(116, 119, 119); */
    /* margin: 250PX; */
    justify-content: space-evenly;
    
}

.button1{
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 18px ;
    background-color: transparent;
    border-color: .5px solid black;
    font-weight: 700;
    width: 35px;

}

.button1:hover{
    border: 2px solid orange;
    color: white;
    background-color: orange;
}

.special{
    font-weight: 700;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 18px ;
    width: 70px;
    border-color: .5px solid black;
    background-color: transparent;
}

.special:hover{
    border: 2px solid orange;
    color: white;
    background-color: orange;
}

.input{
    margin: 0;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
}